.containerNoEmpty {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    
    @include sm{
      margin-bottom: 50px;
    }
    
    
     
    
  }


  .containerEmpty {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-image: url('../../assets/bkg5.jpg');
    width: 100vw;  // Ancho igual al ancho del viewport
    height: 100vh; // Alto igual al alto del viewport
     
    
  }
  
  
  .dataMessage{
    display: flex;
    justify-content: center;
    z-index: 1px;
    font-size: large;
    background-color: $gray;
    width: 500px;
    align-self: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color:$red;
     }
  
  
   
  
 
  
  