.form {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 550px;
    height: auto;
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Añade algún espacio alrededor del formulario */
    margin-top: 95px;
     
   
  }
  
  .form label,
  .form input,
  .form select,
  .form textarea {
    display: inline-block;
    width: 100%;
   
  }

  .spanMessage{
    color: $red;
  }

  .multlipleChoice{
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
  }
  .title{
 text-align: end;
 font-weight:600;
  }
  .selectedTeams{
    white-space: nowrap;
    max-height: 40px; /* Ajusta según tus necesidades */
    overflow: auto;
    text-align: start;
    font-weight:400;
   background-color: $color-2;
   border-radius: 10px;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
   justify-content: space-around;
   margin-right: 8px;
   margin-bottom: 4px;
   

 
    
   
     }

     .savedMessage{
        font-weight: bold;
        color: $red;
        margin-bottom: 0.5rem;
        text-align: center;
        justify-content: center;
     }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.25rem;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }
  
 .button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: $color-1;
    color: $white;
    border: none;
    &:disabled {
        background-color: $black; // Cambia el color a uno diferente cuando está deshabilitado
        cursor: not-allowed; // Cambia el cursor a 'not-allowed' cuando está deshabilitado
        color:$gray;
      }
  }
  .buttonCancel{
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: $color-2;
    color: $white;
    border: none;
    &:hover{
        background-color: $red;
    }
  }
  
  a {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-gray-300);
  }
  
  .button:hover {
    background-color: $red;
    &:disabled {
        background-color: $black; // Cambia el color a uno diferente cuando está deshabilitado
        cursor: not-allowed; // Cambia el cursor a 'not-allowed' cuando está deshabilitado
        color:$gray;
      }
  }
  
  .a:hover {
    background-color: var(--color-gray-800);
  }
  