.cardsContainer {
 
  display: flex;
  
  justify-content: space-around;
  height: auto;
   
  margin-inline-end: 20px;
  margin-inline-start: 20px;

  min-height: 50vh;
  flex-wrap: wrap;
  place-content: center;
  gap: 1px;
   
  @include sm{
    
    flex-direction: row;
    width: 500px;
    justify-content: center;
  }
  
  }
  