.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;  // Ancho total de la pantalla
    background-color: $background-color;
   // background-image: url('../../assets/bkg9.jpg');
   
    background-size: cover;
    background-position: center;
    color: white;  // Ajusta el color del texto según sea necesario
    overflow-x: hidden;  // Evitar el desplazamiento horizontal
}
.p{
    color:$black;
    padding-inline-start: 15px;
    padding-inline-end: 5px;
    font-size: larger;
    &:hover {
        text-shadow: 
            0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(230, 81, 81, 0.22);
       
        
    }


}
.info{
    margin-top: -2px;
    padding: 2px;
     
    justify-content: center;
    align-items: center;
    text-align: center;
   font-style: italic;
   
  
    
 
    
}
.imageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;  // Ancho total de la pantalla
    height: 50vh;  // Alto total de la pantalla
   
   
    //background-image: url('../../assets/bkg4.jpg');
    background-size: cover;
    background-position: center;
    color: white;  // Ajusta el c
}

.edsonphoto{
    margin-top: 120px;
    width: 48%;
    height: 150%;
    border-radius: 30px;
    background-image: url('../../assets/perfiledson.jpeg');
    background-color: red;
    box-shadow: 
    0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
overflow: hidden;
&:hover {
    box-shadow: 
        0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
   
    
}

@include sm{
    margin-top: 180px;
    width: 300px;
    height: 250px;
    background-size: cover; // Otra opción podría ser 'cover' dependiendo de tu preferencia
    
    
}
    
}

.h1{
    margin-top:10px;
    color:$black;
    font-size: x-large;
    
}

.infLink{

    &:hover{
        color: $red;
        font-size: large;
    }
    
}


.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .iframe {
      margin: 5px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1200px;
      border-radius: 10px;
      box-shadow: 
          0 1px 3px rgba(0,0,0,0.12), 
          0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      overflow: hidden;
      &:hover {
          box-shadow: 
              0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
         
          
      }

      @include sm{
        width: 400px;
        align-self: center;
      }

      
      
    }