.controls {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: $gray; /* Ajusta el fondo según sea necesario */
  }


  .activePage {
    background-color: #007bff;
    color: #fff;
    // Otros estilos que desees aplicar a la página activa
  }
  .pageButton {
    padding: 8px 16px;
    border-radius: 5px;
    background-color:$button-color;
    color: $white;
    border: 2px;
    cursor: pointer;
    margin: 0 8px; /* Agrega un margen entre los botones si es necesario */
    &:hover{
        background-color: $red;
    }
}
  
  
  .pageButton:disabled {
    padding: 8px 16px;
    border-radius: 5px;
    opacity: 0.5;
    background-color: $red;
    cursor: not-allowed;
    &:hover{
        background-color: $gray;
    }
  }