.searchOptions {
    background-color: $gray;
    position: fix;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    border-radius: 0px;
    justify-content: center;
    margin-top: 0px;
    color: $white;
    gap: 5px;
     
   
     
  
    @include sm {
     margin-top: 41px;
     position: sticky;
     padding-left: 10px;
     padding-right: 10px;
     
      
    
     
  
      
    }
  
    .labelSpaces{
        justify-content: space-around;
    }
  
    input {
      padding-left: 10px;
      border: none;
      background-color: inherit;
  
      &:focus {
        outline: none;
      }
  
  
    }
  
    .searchbutton {
      cursor: pointer;
      position: absolute;
      border: none;
      background-color: inherit;
      right: 0;
  
    }
  
    .icono {
      width: 26px;
      padding: 0px 8px 0px 0px;
  
    }
     
  
    .logoutContainer{

      @include sm{
        margin-right: 20px;
      }

    }
  }