// Color Panel
$primary-color: #040464;
$secondary-color: #040464;
$background-color: #ebe6ea;
$black: #242441;
$white: white;
$yellow: #f7e007;
$brown:#f4dcc7;
$gray: #595d6d;
$blue: #040464;
$red:#ff7360;
$letter_hover:#f50400;
$button-hover-color: #741188;
$button-color:#6687b6;

